body{
    background-color: #9b1616;
}

h1 {
    font-family: 'Open Sans';
    font-weight: 600;
    color: rgb(255, 250, 250);
    text-transform: uppercase;
    padding-left: 2em;
}

a {
    text-decoration: none;
}

a:hover {
    color: #9b1616;
}