html,
body {
    /* margin: 0; */
    height: 100%;
}

body {
    background-color: #ffffff;
    font-family: 'Libre Franklin', sans-serif;
    letter-spacing: 1px;
    color: rgb(182, 182, 182);
    /* margin: auto; */
    top: 20px;
    width: 100%;
    margin: auto;
    display: table;
    padding-left: 10%;
}

#test {
    animation: fadein 3s;
    -moz-animation: fadein 3s;
    /* Firefox */
    -webkit-animation: fadein 3s;
    /* Safari and Chrome */
    -o-animation: fadein 3s;
    /* Opera */
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein {

    /* Firefox */
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {

    /* Safari and Chrome */
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-o-keyframes fadein {

    /* Opera */
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

h3 {
    /* margin-top: 0%; */
    /* padding-right: 10px; */
    display: inline;
    font-size: 1.25em;
}

a {
    color: rgb(182, 182, 182);
    text-decoration: none;
    /* padding: 3px; */
}

a:visited {
    color: rgb(182, 182, 182);
    text-decoration: none;
}

a:hover {
    color: #ffffff;
    text-decoration-style: wavy;
    text-decoration-color: rgb(182, 182, 182);
    text-decoration-line: line-through;
    font-style: normal;
}

a:hover #logo {
    color: rgb(182, 182, 182);
}

body>h3 {
    display: table-cell;
    vertical-align: middle;
    /* text-align: center; */
}

div {
    margin-bottom: 1%;
}

.square {
    height: 100px;
    width: 100px;
    background-color: rgb(221, 221, 221);
    position: fixed;
    right: 30px;
    top: 30px;
}

.text {
    margin-left: 10px;
    padding-bottom: 2%;
}

div.work {
    margin-top: 5px;
    margin-bottom: 2-px;
    padding-left: 3%;

}

p {
    margin: 0;
    padding: 0;
}

.header {
    font-weight: 300;
}

.performed {
    font-size: 0.6em;
}

.instr {
    font-size: 0.8em;
}

h1 {
    font-size: 1.5em;
    font-weight: 700;
    color: rgb(143, 143, 143);
}

#top {
    padding-top: 5%;
}

#expectation {
    font-size: 0.95em;
}

.socials {
    color: rgb(182, 182, 182);
    font-size: 30px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    margin-bottom: 0;
}