html,
body {
    margin: 0;
    height: 100%;
}

body {
    background-color: #f5d1d1;
    font-family: 'Libre Franklin', sans-serif;
    letter-spacing: 1px;
    color: rgb(0, 0, 0);
    /* margin: auto; */
    /* margin-top: 10%; */
    width: 100%;
    margin: auto;
    display: table;
    padding-left: 10%;
}

#test {
    animation: fadein 3s;
    -moz-animation: fadein 3s;
    /* Firefox */
    -webkit-animation: fadein 3s;
    /* Safari and Chrome */
    -o-animation: fadein 3s;
    /* Opera */
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein {

    /* Firefox */
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {

    /* Safari and Chrome */
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-o-keyframes fadein {

    /* Opera */
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

h3 {
    /* margin-top: 0%; */
    /* padding-right: 10px; */
    display: inline;
    font-size: 1.25em;
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    /* padding: 3px; */
}

a:visited {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

a:hover {
    color: #f5d1d1;
    text-decoration-style: wavy;
    text-decoration-color: rgb(0, 0, 0);
    text-decoration-line: line-through;
    font-style: normal;
}

a:hover #logo {
    color: rgb(0, 0, 0);
}

body>h3 {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.square {
    height: 100px;
    width: 100px;
    background-color: #ebb1b1;
    position: fixed;
    right: 30px;
    top: 30px;
}

.text {
    margin-left: 10px;
}